.chat{
display: flex;
flex-direction: column;
flex:0.65;
}

.chatheader{

display: flex;
align-items: center;
border-bottom: 1px solid lightgray;

}


.chat_headerinfo{

flex: 1;
padding-left: 20px;

}


.chat_headerinfo >h2{
margin: 0 !important;
font-weight: 499;


}
.chat_headerinfo >p{
color: gray;
margin: 0 !important;
}

.chatbody{
flex: 1;
background-image: url("https://user-images.githubusercontent.com/15075759/28719144-86dc0f70-73b1-11e7-911d-60d70fcded21.png");
background-repeat: repeat;
background-position: center;

overflow: scroll;


}
.chatmessage{
position: relative;
font-size: 16px;
padding: 10px;
width: fit-content;
border-radius: 10px;
background-color: #ffffff;
margin-bottom: 30px;

}
.timestamp{
margin-left: 10px;
font-size: xx-small ;

}
.chatname{
position: absolute;
top: -15px;
font-weight: 800;
font-size: x-small;


}
.chatreciever{
margin-left: auto;
background-color: #dcf8c6;


}
.footer{
display:flex;
justify-content: space-between;
align-items: center;
border: 1px solid lightgray;
height: 62px;
padding: 0 10px;
}


.footer>form{
flex: 1;
display: flex;
}


.footer>form>input{

flex: 1;
border-radius: 30px;
padding: 10px;
outline: none;
border: none;
background-color: rgb(216, 231, 220);
}

.footer>form>button{
display: none;


}
.footer>.MuiSvgIcon-root{
color: gray;
padding: 10px; 

}
a{
color: black;
text-decoration: none;


}